<section>
  <div class="why-me-title-mobile mobile-txt">
    <h2>Why me</h2>
    <p>
      I am motivated to continuously learn new technologies and develop myself.
      My ability to solve complex problems and my passion for programming make
      me a valuable member of your team.
    </p>
  </div>
  <div class="why-me-title desktop-txt">
    <h2>Why me</h2>
  </div>
  <div class="section-wrapper">
    <div class="desktop-txt">
      <p>
        I am motivated to continuously learn new technologies and develop
        myself. My ability to solve complex problems and my passion for
        programming make me a valuable member of your team.
      </p>
    </div>
    <div class="i-am-section">
      <h3>I am:</h3>
      <div class="image-wrapper">
        <div class="why-me-icons why-me-icons-mobile">
          <div class="icon-container">
            <div class="located_icon"></div>
            <p>located in Steinfurt</p>
          </div>
          <div class="icon-container">
            <div class="remote_icon"></div>
            <p>open to work remote</p>
          </div>
        </div>
      </div>
      <div class="contact-me-btn">
        <a href="#"><button class="green-btn">Contact me</button></a>
      </div>
    </div>
  </div>
</section>
