<section>
  <div class="why-me-title-mobile mobile-txt">
    <h2>{{ "ME.WhyMeTitle" | translate }}</h2>
    <p>
      {{ "ME.WhyMeText" | translate }}
    </p>
  </div>
  <div class="why-me-title desktop-txt">
    <h2>{{ "ME.WhyMeTitle" | translate }}</h2>
  </div>
  <div class="section-wrapper">
    <div class="desktop-txt">
      <p>
        {{ "ME.WhyMeText" | translate }}
      </p>
    </div>
    <div class="i-am-section">
      <h3>{{ "ME.headline" | translate }}</h3>
      <div class="image-wrapper">
        <div class="why-me-icons why-me-icons-mobile">
          <div class="icon-container">
            <div class="located_icon"></div>
            <p>{{ "ME.location" | translate }}</p>
          </div>
          <div class="icon-container">
            <div class="remote_icon"></div>
            <p>{{ "ME.remote" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="contact-me-btn">
        <a href="#"
          ><button class="green-btn">{{ "ME.button" | translate }}</button></a
        >
      </div>
    </div>
  </div>
</section>
