<section>
  <div class="shadowbox"></div>
  <div class="front">
    <div class="wrapper">
      <div class="person-pic">
        <div class="icons">
          <a href="#"><div class="email-icon"></div></a>
          <a href="#"><div class="linkedin-icon"></div></a>
          <a href="#"><div class="git-icon"></div></a>
        </div>
        <div class="links">
          <div class="lang-select">
            <span>DE</span>
            <div class="seperator"></div>
            <span>EN</span>
          </div>
        </div>
        <div class="name-wrapper">
          <div class="name-content-wrapper">
            <div class="animation-wrapper">
              <span class="name">Vadim </span>
            </div>
            <div class="animation-wrapper-2nd-name">
              <span class="name">Wart</span>
            </div>
          </div>
          <div class="animation-wrapper-frontend">
            <span class="profession">Frontend Developer</span>
          </div>
        </div>
      </div>
      <div class="arrow responsiv-arrow">
        <a>
          <img src="./../../../assets/img/arrow_default.png" alt="" />
        </a>
      </div>
    </div>

    <div class="name-profession-txt">
      <h2>FRONTEND DEVELOPER</h2>
      <h1>Vadim War</h1>
      <h3>Steinfurt</h3>
    </div>
  </div>
</section>
