<section>
  <div class="shadowbox"></div>
  <div class="front">
    <div class="wrapper">
      <div class="person-pic">
        <div *ngIf="isDesktop" class="icons links">
          <a href="mailto:contact@vadim-wart.com"
            ><div class="email-icon"></div
          ></a>
          <a
            href="https://www.linkedin.com/in/vadim-wart-a4564a32a"
            target="_blank"
            ><div class="linkedin-icon"></div
          ></a>
          <a href="https://github.com/VadimWart" target="_blank"
            ><div class="git-icon"></div
          ></a>
          <div class="lang-select language">
            <span (click)="translationService.switchLanguage('de')">DE</span>
            <div class="seperator"></div>
            <span (click)="translationService.switchLanguage('en')">EN</span>
          </div>
        </div>
        <div *ngIf="isDesktop" class="name-wrapper">
          <div class="name-content-wrapper">
            <div class="animation-wrapper">
              <span class="name">Vadim </span>
            </div>
            <div class="animation-wrapper-second-name">
              <span class="name">Wart</span>
            </div>
          </div>
          <div class="animation-wrapper-frontend">
            <span class="profession">Frontend Developer</span>
          </div>
        </div>
      </div>
      <div
        class="arrow responsiv-arrow"
        (click)="scrollToPosition(90)"
        *ngIf="isDesktop"
      >
        <a>
          <img src="./../../../assets/img/arrow_default.png" alt="" />
        </a>
      </div>
    </div>

    <div *ngIf="!isDesktop" class="name-profession-txt">
      <h2>FRONTEND DEVELOPER</h2>
      <h1>Vadim Wart</h1>
      <h3>Steinfurt</h3>
    </div>
  </div>
</section>
