<section>
  <div class="arrow" (click)="scrollToPosition(2450)">
    <a href="#myWork"
      ><img src="./../../../assets/img/arrow_default.png" alt=""
    /></a>
  </div>
  <div class="main-headline">
    <h2>{{ "MYWORK.myWorkTitle" | translate }}</h2>
  </div>
  @for(item of myWork; track item; let i = $index) {
  <div [ngClass]="getClass(i)" class="work-container">
    <div class="headline">
      <h1>{{ item.project }}</h1>
    </div>
    <div class="main-container">
      <div class="main-content">
        <div class="txt-box">
          <div class="sub-headline">
            <img
              src="./../../../assets/img/point.png
          "
              alt=""
            />
            <h3>{{ "MYWORK.aboutHeadline" | translate }}</h3>
          </div>
          <span>{{ item.about | translate }}</span>
          <div class="sub-headline">
            <img
              src="./../../../assets/img/point.png
          "
              alt=""
            />
            <h3>{{ "MYWORK.tecHeadline" | translate }}</h3>
          </div>
          <span class="word-space">{{ item.tec }}</span>
        </div>
        <div class="btn-img-container">
          <img [src]="item.path" alt="" />
          <div class="btn-wrapper">
            <a target="_blank" [href]="item.git">
              <button class="git-btn transparent-btn">GitHub</button></a
            >
            <a target="_blank" [href]="item.liveTest"
              ><button class="live-test-btn green-btn">Live Test</button></a
            >
          </div>
        </div>
      </div>
      <div>
        <div class="sub-headline">
          <img
            src="./../../../assets/img/point.png
        "
            alt=""
          />
          <h3>{{ "MYWORK.learnHeadline" | translate }}</h3>
        </div>
        <span class="width">{{ item.learned | translate }}</span>
      </div>
    </div>
    <div></div>
  </div>
  }
  <div class="height-100">
    <div class="on-going-container">
      <div class="on-going">
        <h3>
          {{ "MYWORK.currentWorkHeadline" | translate }}
        </h3>
      </div>
      <span>{{ "MYWORK.currentWork" | translate }}</span>
      <div class="btn-container">
        <a href="mailto:contact&#64;vadim-wart.com">
          <button class="live-test-btn green-btn">
            {{ "MYWORK.button" | translate }}
          </button></a
        >
      </div>
    </div>
  </div>
</section>
