@import "./../../fonts.scss";
@import "./../../../media_query.scss";
@import "./../../../mixins.scss";

section {
  padding: 10px;
  p {
    margin: 24px 0;
  }
}

span {
  display: flex;
  margin-bottom: 40px;
}

.skills-title-mobile {
  > h1 {
    @include neon-text($font-size: 32px);
  }
}

.icon-line {
  @include flexBox(flex, center, center);
  gap: 32px 50px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  img {
    width: 60px;
    height: 70px;
  }
  img:hover {
    filter: drop-shadow(0 0 15px $green-color);
    transition: filter 455ms ease-out;
  }
  div {
    @include size(60px, 60px);

    p {
      display: none;
      margin: 0;
    }
    &:nth-child(11) p {
      display: block;
      color: $white-color;
      width: 120px;
      margin-left: -50%;
    }
  }
}

.place-absolut {
  padding: 0 10px;
}

button {
  background-color: $green-color;
  color: $gray-color;
  border-radius: 30px;
  @include size(43px, 122px);
  margin-bottom: 75px;
  &:hover {
    background: linear-gradient(
      160.33deg,
      $green-color 50.78%,
      #547800 133.54%
    );
  }
}

.btn-container {
  @include flexBox(flex, center, center);
}
