<section>
  <div class="skills-title-mobile">
    <h1>My Skill Set</h1>
  </div>
  <span>
    The IT landscape is continuously evolving, with new technologies and
    methodologies. Staying motivated to expand my IT skills requires a strategic
    approach, a curious mindset, and a commitment to lifelong learning.</span
  >
</section>
<div class="icon-line">
  @for (icon of icons; track $index) {
  <div>
    <img [src]="icon.path" alt="" />
    <p>{{ icon.name }}</p>
  </div>

  }
</div>
<span class="place-absolut">
  I am always happy to learn new technonogies, just tell me what you need.</span
>
<div class="btn-container">
  <a href="mailto:phillip@phillip-marcel-sauer.com"
    ><button>Let´s talk</button>
  </a>
</div>
