<section>
  <div class="skills-title-mobile">
    <h1>{{ "SKILLSET.skillsTitle" | translate }}</h1>
  </div>
  <span> {{ "SKILLSET.main" | translate }}</span>
</section>
<div class="icon-line">
  @for (icon of icons; track $index) {
  <div>
    <img [src]="icon.path" alt="" />
    <p>{{ icon.name }}</p>
  </div>

  }
</div>
<span class="place-absolut"> {{ "SKILLSET.main" | translate }}</span>
<div class="btn-container">
  <a href="mailto:contact&#64;vadim-wart.com"><button>Let´s talk</button> </a>
</div>
