@import "./../../fonts.scss";
@import "./../../../media_query.scss";
@import "./../../../mixins.scss";

section {
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  @include desktopUp900 {
    padding-left: 190px;
  }
}

a {
  color: $green-color;
}

.arrow-container {
  @include flexBox(flex, center, center);
  margin-top: 54px;
  position: relative;
  margin-bottom: 60px;
  cursor: pointer;
}

.hover-image {
  position: absolute;
  bottom: 0;
  transition: 75ms ease-out;
}
