<div
  class="menu"
  [ngClass]="this.BurgerMenuService.menuIsOpen ? 'animate' : 'animate-back'"
>
  <div class="column">
    <a (click)="scrollToSection('me')">{{ "BURGERMENU.whyMe" | translate }}</a>
    <a (click)="scrollToSection('skillsMobile')">{{
      "BURGERMENU.skills" | translate
    }}</a>
    <a (click)="scrollToSection('myWorkMobile')">{{
      "BURGERMENU.myWork" | translate
    }}</a>
    <a (click)="scrollToSection('contact')">{{
      "BURGERMENU.contact" | translate
    }}</a>
    <div>
      <span (click)="translationService.switchLanguage('de')">DE</span>
      <div class="seperator"></div>
      <span (click)="translationService.switchLanguage('en')">EN</span>
    </div>
  </div>
</div>
