<div
  class="menu"
  [ngClass]="this.BurgerMenuService.menuIsOpen ? 'animate' : 'animate-back'"
>
  <div class="column">
    <a (click)="toggleMenu()" href="#me">{{
      "BURGERMENU.whyMe" | translate
    }}</a>
    <a (click)="toggleMenu()" href="#skillsMobile">{{
      "BURGERMENU.skills" | translate
    }}</a>
    <a (click)="toggleMenu()" href="#myWorkMobile">{{
      "BURGERMENU.myWork" | translate
    }}</a>
    <a (click)="toggleMenu()" href="#contact">{{
      "BURGERMENU.contact" | translate
    }}</a>
    <div>
      <span (click)="translationService.switchLanguage('de')">DE</span>
      <div class="seperator"></div>
      <span (click)="translationService.switchLanguage('en')">EN</span>
    </div>
  </div>
</div>
