<header [ngStyle]="getDynamicStyle()" [ngClass]="{ 'show-header': showHeader }">
  <nav class="sidebar">
    <div>
      <img class="navbar-logo" src="./../../../assets/img/logo130.svg" alt="" />
    </div>

    <ul *ngIf="isDesktop" class="navigation-line">
      <li>
        <a href="#whyMe" (click)="scrollToPosition(0)">{{
          "BURGERMENU.whyMe" | translate
        }}</a>
      </li>
      <li>
        <a href="#skills" (click)="scrollToPosition(1200)">{{
          "BURGERMENU.skills" | translate
        }}</a>
      </li>
      <li>
        <a href="#myWork" (click)="scrollToPosition(2450)">{{
          "BURGERMENU.myWork" | translate
        }}</a>
      </li>
      <li>
        <a href="#contact" (click)="scrollToPosition(6250)">{{
          "BURGERMENU.contact" | translate
        }}</a>
      </li>
    </ul>
  </nav>
</header>

<div
  id="nav-icon1"
  [ngClass]="{ open: this.BurgerMenuService.isAnimation }"
  (click)="this.BurgerMenuService.toggleMenu()"
>
  <span></span>
  <span></span>
  <span></span>
</div>
<app-burger-menu
  *ngIf="!isDesktop"
  [ngClass]="{ 'd-none': this.BurgerMenuService.menuClosedAtStart }"
></app-burger-menu>
