<a href="#main">
  <div class="arrow-container">
    <img
      class="hover-image arrow"
      src="./../../../assets/img/arrow_up.png"
      alt=""
    />
    <div class="placetaker"></div>
  </div>
</a>
<div class="link-line">
  <a href="mailto:contact@vadim-wart.com"><div class="email-icon"></div></a>
  <a href="https://www.linkedin.com/in/vadim-wart-a4564a32a" target="_blank"
    ><div class="linkedin-icon"></div
  ></a>
  <a href="https://github.com/VadimWart" target="_blank"
    ><div class="git-icon"></div
  ></a>
</div>
