$green-color: #b5e93b;
$gray-color: #4a4a4a;
$white-color: #fffdfd;
$font-family: "Quantico";
$font-weight-400: 400;
$font-weight-700: 700;
$font-style-italic: italic;
$font-style-normal: normal;

// Definiere das Mixin für den transparenten Text mit grünem Umriss
@mixin neon-text($color: #b5e93b, $stroke-width: 1px, $font-size: 48px) {
  color: transparent; // Transparenter Text
  -webkit-text-stroke: $stroke-width $color; // Textumriss
  font-size: $font-size;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  > a {
    &:hover {
      filter: drop-shadow(0px 0px 4px $green-color);
    }
  }
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin text($fs, $fw, $fsn) {
  font-size: $fs;
  font-weight: $fw;
  font-style: $fsn;
}

@mixin icon-style($default-img, $hover-img, $width: 30px, $height: 30px) {
  display: block;
  width: $width;
  height: $height;
  background-size: contain;
  background-image: url($default-img);
  background-repeat: no-repeat;
  &:hover {
    background-image: url($hover-img);
  }
}

@mixin dGrid($gr: 0, $gc: 0) {
  display: grid;
  grid-row: $gr;
  grid-column: $gc;
}

@mixin flexBox($df: flex, $ai, $jc) {
  display: $df;
  align-items: $ai;
  justify-content: $jc;
}
