@import "./../../fonts.scss";
@import "./../../../media_query.scss";
@import "./../../../mixins.scss";

.wrapper2 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 550px;
  height: 150px;
  transform: translate(-50%, -50%);
  font-size: 24px;
  @include mobile900 {
    width: 260px;
  }
}

.container2 {
  @include flexBox(flex, center, center);
  background-color: $green-color;
  border-radius: 10px;
  color: $gray-color;
  @include mobile900 {
    padding: 8px;
    font-size: 14px;
    max-width: 300px;
  }
}
